body {
  font-family: "Roboto", sans-serif;
}

input[type=text] {
  font-family: "Roboto";
}

input[type=password] {
  font-family: "Roboto";
  font-weight: 900;
}

.textfield {
  margin: 16px;
}
.textfield input, .textfield textarea {
  background: #dddde0;
  color: #121212;
  border: none;
  font-family: inherit;
  font-size: 18px;
  line-height: 40px;
  border-radius: 8px;
  width: 100%;
  outline: none;
  text-indent: 1em;
}
.textfield input::placeholder, .textfield textarea::placeholder {
  font-weight: 900;
  opacity: 0.4;
}
.textfield textarea {
  resize: none;
  height: 130px;
  text-indent: 0;
  line-height: 1.2;
  padding: 12px 1em;
}
.textfield.error input, .textfield.error textarea {
  background: #e4cad5;
  color: #30111b;
}
.textfield.error input::placeholder, .textfield.error textarea::placeholder {
  color: #30111b;
}

@keyframes button-loading {
  0% {
    background: #eeeeef;
    color: #d4d4d6;
  }
  100% {
    background: #e6e6e8;
    color: #c7c7ca;
  }
}
.button {
  display: block;
  border: none;
  outline: none;
  background: #cc0e4d;
  color: #ffffff;
  font-size: 18px;
  line-height: 40px;
  border-radius: 8px;
  padding: 0 32px;
  min-width: 200px;
  text-align: center;
  cursor: pointer;
  font-weight: 900;
  text-transform: uppercase;
  transition: background 0.2s ease;
}
.button.wide {
  width: calc(100% - 32px);
}
.button.margin {
  margin: 16px;
}
.button:hover {
  background: #be0d48;
}
.button:active {
  background: #af0c42;
}
.button[disabled]:not(.hide-load) {
  background: #eeeeef;
  color: #d4d4d6;
  cursor: default;
}
.button.loading {
  animation: button-loading infinite alternate 0.5s 0.5s;
}

.positioner {
  width: 0;
  height: 0;
  position: relative;
}
.positioner.inline {
  display: inline-block;
}

.accent.primary {
  background: #cc0e4d;
}
.accent.light-primary {
  background: #f676a1;
}
.accent.muted-primary {
  background: #fbc8d9;
}
.accent.alt-color {
  background: white;
}
.accent.tiny {
  width: 8px;
  height: 8px;
  border-width: 8px !important;
}
.accent.little {
  width: 16px;
  height: 16px;
  border-width: 16px !important;
}
.accent.small {
  width: 32px;
  height: 32px;
  border-width: 32px !important;
}
.accent.medium {
  width: 64px;
  height: 64px;
  border-width: 64px !important;
}
.accent.huge {
  width: 112px;
  height: 112px;
  border-width: 112px !important;
}
@media (max-width: 1200px) {
  .accent.huge {
    width: 90px;
    height: 90px;
    border-width: 90px !important;
  }
}
@media (max-width: 1050px) {
  .accent.huge {
    display: none;
  }
}
.accent.triangle {
  width: 0;
  height: 0;
  box-sizing: content-box;
  border-right: solid white;
  border-bottom: solid transparent;
}
.accent.hemi-1 {
  border-top-left-radius: 100%;
}
.accent.hemi-2 {
  border-top-right-radius: 100%;
}
.accent.hemi-3 {
  border-bottom-left-radius: 100%;
}
.accent.hemi-4 {
  border-bottom-right-radius: 100%;
}
.accent.dot {
  border-radius: 100%;
}
.accent.offset {
  position: absolute;
  left: -42px;
  bottom: -42px;
}

.grid-2 {
  display: inline-grid;
  grid-template-columns: fit-content(0) fit-content(0);
}

.grid-4, .dots {
  display: inline-grid;
  grid-template-columns: fit-content(0) fit-content(0) fit-content(0) fit-content(0);
}

.dots {
  position: relative;
  grid-gap: 12px;
  left: 0;
  top: -40px;
}
.dots.left {
  left: -20px;
}
.dots.right {
  left: 20px;
}

.page-accent {
  position: fixed;
  bottom: -8px;
  left: -10vw;
  z-index: -100;
}
.page-accent svg {
  width: 120vw;
  height: auto;
}

h1 {
  font-size: 36px;
  font-weight: 900;
  opacity: 80%;
  margin: 0;
}

h3 {
  font-size: 14px;
  font-weight: 900;
  opacity: 60%;
  margin: 0;
}

aside {
  font-size: 14px;
  opacity: 60%;
  margin: 16px 0;
}
aside.thick {
  font-weight: 900;
  opacity: 30%;
  margin: 0;
}

.twobreak {
  flex-direction: row;
}
@media (max-width: 900px) {
  .twobreak {
    flex-direction: column;
  }
}

.fullpage {
  height: 100vh;
}

.login-container {
  flex: 1;
  text-align: center;
  max-width: 400px;
}

.gcenter {
  display: grid;
  place-items: center;
}

.logo-image {
  object-fit: contain;
  width: 700px;
  height: 700px;
}
@media (max-width: 1400px) {
  .logo-image {
    width: 500px;
    height: 500px;
  }
}
@media (max-width: 1100px) {
  .logo-image {
    width: 400px;
    height: 400px;
  }
}
@media (max-width: 900px) {
  .logo-image {
    width: 300px;
    height: 300px;
  }
}

.content-wrapper {
  margin: auto;
  width: 100%;
  max-width: 1000px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 160px);
  grid-gap: 32px;
  justify-content: space-evenly;
}
.grid .im-card {
  height: 160px;
}
.grid .im-card .react-loading-skeleton {
  height: 100%;
}

.uploadbox {
  position: relative;
  width: 480px;
  height: 480px;
  left: 0;
}
@media (max-width: 1100px) {
  .uploadbox {
    left: 25px;
    width: 400px;
    height: 400px;
  }
}
@media (max-width: 500px) {
  .uploadbox {
    left: 15px;
    width: 300px;
    height: 300px;
  }
}
.uploadbox.waiting {
  cursor: pointer;
}
.uploadbox .clickable:hover {
  fill-opacity: 0.1;
}
.uploadbox .clickable:active {
  fill-opacity: 0.2;
}
.uploadbox .close-btn:hover {
  cursor: pointer;
}
.uploadbox .close-btn:hover circle {
  fill: #D4D4D4;
}
.uploadbox .close-btn:hover:active circle {
  fill: #D0D0D0;
}

.form-bar {
  padding: 24px;
}
@media (max-width: 900px) {
  .form-bar > * {
    max-width: 500px;
    margin: 0 32px;
  }
}
.form-bar .form-entry .heading {
  margin: 0 0 8px;
  align-items: baseline;
}
.form-bar .form-entry .heading .label {
  font-size: 24px;
  opacity: 65%;
}
.form-bar .form-entry .heading .optional {
  font-size: 12px;
  opacity: 45%;
}
.form-bar .form-entry .textfield {
  margin: 8px 0 0;
}
.form-bar .form-entry:not(:first-of-type) {
  margin: 32px 0 0;
}
.form-bar .submit {
  margin: 24px 0;
}

header {
  display: grid;
  position: relative;
  grid-template-columns: 1fr auto 1fr;
  padding: 24px;
  text-transform: uppercase;
}
header nav {
  display: flex;
  grid-column: 2;
}
header a {
  text-decoration: none;
  color: #121212;
  font-weight: 900;
  padding: 8px 16px;
  font-size: 18px;
  margin: 0 32px;
  opacity: 50%;
}
@media (max-width: 900px) {
  header a {
    margin: 0 16px;
  }
}
@media (max-width: 750px) {
  header a {
    margin: 0 4px;
  }
}
@media (max-width: 600px) {
  header a {
    font-size: 14px;
  }
}
header a:hover {
  opacity: 70%;
}
header a.active {
  opacity: 100%;
}
header .hamburger {
  display: none;
  opacity: 0.5;
  top: 5px;
}
header .nav-right {
  display: flex;
  justify-content: flex-end;
}
header .nav-right a {
  margin: 0 16px;
}
@media (max-width: 750px) {
  header .nav-right a {
    margin: 0 8px;
  }
}
@media (max-width: 1100px) {
  header {
    grid-template-columns: 1fr 1fr;
  }
  header nav {
    grid-column: 1;
  }
}
@media (max-width: 600px) {
  header {
    padding: 14px;
  }
}
@media (max-width: 550px) {
  header {
    overflow: hidden;
    height: 60px;
    transition: height 0.2s ease;
  }
  header.open {
    height: 165px;
  }
  header nav {
    flex-direction: column;
  }
  header a {
    margin-bottom: 4px;
    height: 32px;
  }
  header .hamburger {
    display: block;
  }
}

html, body {
  height: 100%;
}

#approot {
  min-height: 100%;
  height: 100%;
}

body {
  margin: 0;
  color: #121212;
}

* {
  box-sizing: border-box;
}