h1 {
    font-size: 36px;
    font-weight: 900;
    opacity: 80%;
    margin: 0;
}

h3 {
    font-size: 14px;
    font-weight: 900;
    opacity: 60%;
    margin: 0;
}

aside {
    font-size: 14px;
    opacity: 60%;
    margin: 16px 0;

    &.thick {
        font-weight: 900;
        opacity: 30%;
        margin: 0;
    }
}

.twobreak {
    flex-direction: row;
    @media (max-width: 900px) {
        flex-direction: column;
    }
}

.fullpage {
    height: 100vh;
}

.login-container {
    flex: 1;
    text-align: center;
    max-width: 400px;
}

.gcenter {
    display: grid;
    place-items: center;
}

@mixin frame-size($break, $size) {
    @media (max-width: $break) {
        width: $size;
        height: $size;
    }
}

.logo-image {
    object-fit: contain;

    width: 700px;
    height: 700px;

    @include frame-size(1400px, 500px);
    @include frame-size(1100px, 400px);
    @include frame-size(900px, 300px);
}

.content-wrapper {
    margin: auto;
    width: 100%;

    max-width: 1000px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 160px);
    grid-gap: 32px;
    padding: 40px 0;

    justify-content: space-evenly;

    &.infinite-scroll-component {
        overflow: visible !important;
    }
}

.im-card {
    position: relative;
    width: 160px;
    height: 160px;

    transition: box-shadow 0.25s;
    box-shadow: 0 5px 20px -2px rgba(0, 0, 0, 0.2);
    &:hover {
        box-shadow: 0 10px 30px -4px rgba(0, 0, 0, 0.3);
    }

    &.no-shadow {
        box-shadow: none;
    }

    border-radius: 10px;
    overflow: hidden;

    .react-loading-skeleton {
        pointer-events: none;
        position: absolute;
        height: 100%;
        left: 0;
        top: 0;
    }

    .main-content {
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        overflow: hidden;
    }

    img, video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        user-select: none;
    }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

.backdrop {
    position: fixed;
    left: 0; right: 0; top: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 10;
    visibility: visible;

    &.in {
        animation: fadeIn 0.25s;
    }

    &:not(.in) {
        // animation: fadeOut 0.25s;
        opacity: 0;
        pointer-events: none;
    }
}

// .backdrop-enter {
//     opacity: 0;
// }

// .backdrop-enter-active {
//     opacity: 1;
//     transition: opacity 300ms;
// }

// .backdrop-exit {
//     opacity: 1;
// }

// .backdrop-exit-active {
//     opacity: 0;
//     transition: opacity 300ms;
// }
