// https://colorhunt.co/palette/213165
$primary: #cc0e4d; // #cc0e74;
$text-color: #121212;
// $primary-dark: #790c5a;
// $primary-light: #e6739f;
// $primary-muted: #f1d4d4;
$alt-color: #ffffff;

$input-color: #dddde0;
$disabled-color: #eeeeef;

$error-color: #dc0a4d;
