.uploadbox {
    position: relative;

    width: 480px;
    height: 480px;

    @media (max-width: 1100px) {
        left: 25px;
        width: 400px;
        height: 400px;
    }

    @media (max-width: 500px) {
        left: 15px;
        width: 300px;
        height: 300px;
    }

    left: 0;

    &.waiting {
        cursor: pointer;
    }

    .clickable {
        &:hover {
            fill-opacity: 0.1;
        }

        &:active {
            fill-opacity: 0.2;
        }
    }

    .close-btn:hover {
        cursor: pointer;

        circle {
            // stroke: #BABABA;
            fill: #D4D4D4;
        }

        &:active circle {
            // stroke: #B0B0B0;
            fill: #D0D0D0;
        }
    }
}

/*

    background: url(http://localhost:5080/ThiM.jpg?size=200);
    animation: none;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.25)

*/
